<div class="container">
  <form id="user-question" action="/answer">
    <label for="question">What do you want to ask your coah?</label>
    <input type="text" name="question" id="question">
    <input type="submit" value="Ask!">
  </form>
</div>