// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-direction: column;
}

#user-question {
  margin: 0 auto;
}

p {
  border-left: 5px solid rgba(40, 40, 40, 0.3);
  padding: 5px 0 5px 10px;
  line-height: 1.4em;
  margin-left: 150px;
}

#answer {
  background-color: honeydew;
}

span {
  font-style: italic;
}

a {
  margin-left: 150px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
}